<section id="viewCatalog" class="background-img">
    <div class="added-electronics">
        {{#each electronics}}
        <a href="/electronics/{{_id}}/details" class="added-electronics-in-market">
            <img src="{{image}}" class="picture-added-electronics">
            <h3>{{name}}</h3>
            <span>Price: ${{price}}</span>
        </a>
        {{else}}
        <div class="guest">
            There are no electronics found...
        </div>
        {{/each}}
    </div>
</section>